# Jupyter NB checkpoints
.ipynb_checkpoints

# Python compiled bytecode
__pycache__/
*.py[cod]

# NumPy/PyTorch binary files
*.npy
*.pt

# Distribution and packaging files
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.egg-info/
.installed.cfg
MANIFEST

# Logs
outputs/
*.log

# Tutorial files
tutorial/*
!tutorial/config/*maize*.yaml
!tutorial/config/*random_small*.yaml
!tutorial/data
!tutorial/maize/maize_dataset.py
!tutorial/notebooks/*.ipynb
!tutorial/README.md

# Virtual environment
venv/
virtualvenv/

# docs files
docs/build/
docs/source/_templates/

# Root folder
/*.*
!/.gitignore
!/.readthedocs.yaml
!/LICENSE
!/MANIFEST.in
!/README.md
!/pyproject.toml
!/requirements.txt
!/setup.cfg
